body{
    background-color:brown;
}
h1{
    font-size: 60px;
    color: blue;
    text-align: center;
}
p{
    font-size: 30px;
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    width: 300px;
    height: 300px;
    margin: 60px;
    margin-left: 190px;
}